/* App CSS */
@import "~bpk-stylesheets/index";
@import "~bpk-mixins";

html, body {
  height: 100%;
}

#root {
  height: 100vh;
}

.App {
  background-color: #F2F1F4;
  height: 100%;
}

.loading {
  opacity: 0.4;
  pointer-events: none;
}
