/* TopNav CSS */
@import "~bpk-mixins";

.searching {
  background: $bpk-color-white;
  height: 5rem;
  padding: $bpk-spacing-lg;
  margin-top: $bpk-spacing-xs;
  color: $bpk-color-blue-500;
  font-size: $bpk-h-3-font-size;
  text-align: center;
  vertical-align: middle;
}
